/* Formulaires */
.required:after { 
  color:  fuchsia;
  content: "*";
  position: relative;
}

#colonne1, #collone2{
  min-width: 27rem;
}
#playerCard h3{
  text-shadow: none;
  color: var(--bs-body-color);
}

#gameplaySection{
  text-shadow: none;
  color : white;
}
#gameplaySection h3{
  color: var(--bs-body-color);
}

#victim {
 transition: none;
}

.playerCard{
  max-width: 30rem;
}

@media only screen and (max-width: 430px){
  #colonne1, #collone2{
    min-width: 23rem;
  }

  footer div{
    width: 100%;
  }

  .col-6{
    width: 100%;
  }

  #topBtn{
    visibility: visible;
  }
}



