/* bootwatch */
@import url(https://cdn.jsdelivr.net/npm/bootswatch@5/dist/vapor/bootstrap.min.css);

/* Formulaires */
.required:after { 
  color:  rgba(var(--bs-secondary-rgb));
  content: "*";
  position: relative;
}

/* .characters:hover{
  cursor: pointer;
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important;
} */