/* Formulaires */
.required:after { 
  color:  fuchsia;
  content: "*";
  position: relative;
}

#playerCard h3{
  text-shadow: none;
  color: var(--bs-body-color);
}

#gameplaySection{
  text-shadow: none;
  color : white;
}
#gameplaySection h3{
  color: var(--bs-body-color);
}


